@charset "utf-8";
body{
	background-color: #000000
}

p{color: #FFFFFF}

img{position: absolute}
.bunRun{
	left: 800px;
	top: 900px;
}

.static{
	top: 170px;
}

p{padding-left: 500px;}
p{padding-top: 800px}

.coverUp{
	left: 1500px
}
h5{
	color: #FFFFFF
}
H5{position:absolute}
h5{padding-left: 750px;
padding-top: 100px;}